.team--display {
  background-color: var(--team-background-color);
  @extend %section-pad;
}
.team-title--display {
  color: var(--text-color);
  margin-bottom: 30px;
  @media screen and (min-width: $des) {
    margin-bottom: 50px;
  }
}
.team-list--display {
  display: block;
  @media screen and (min-width: $tab) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item--display {
  background-color: var(--background-color-white);
  width: 450px;
  height: 622px;
  @media screen and (max-width: $tab) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tab) {
    width: 354px;
    height: 536px;
    @media screen and (max-width: $des-1) {
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }
  }
  @media screen and (min-width: $des) {
    width: 270px;
    height: 428px;
    &:not(:first-child) {
      margin-left: 30px;
    }
    &:only-child {
      margin-bottom: 0px;
    }
  }
}
.team-item__img--display {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-item__person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-item__person--display {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team-item__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-item__position--display {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 16px;
}
