.main-portfolio {
  display: flex;
  flex-wrap: wrap;
}
.main-portfolio-containers {
  background-color: var(--background-color-white);
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.main-portfolio-containers {
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-child(n + 7) {
    margin-bottom: 0px;
  }
}
.main-portfolio-link {
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: var(--trans-timing);
}
.overlay-text {
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.main-portfolio-link .overlay {
  transition: var(--trans-transform);
}
.main-portfolio-link:hover .overlay,
.main-portfolio-link:focus .overlay {
  transform: translateY(0);
}
.main-portfolio-container-text {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.main-portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.main-portfolio-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.03em;
  color: #757575;
}
