.products--display {
  padding-top: 94px;
  padding-bottom: 94px;
}
.products__list--container {
  display: flex;
}
.list__item--display {
  width: 270px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}
.list--container {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list__title--display {
  color: var(--text-color);
  margin-bottom: 10px;
}
.list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
