.products--display {
  @extend %section-pad;
}
.products__list--container {
  display: block;

  @media screen and (min-width: $tab) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: $des) {
    flex-wrap: nowrap;
  }
}
.list__item--display {
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tab) {
    width: 354px;
    // &:nth-child(2n + 1) {
    //   margin-right: 30px;
    // }
    // &:nth-last-child(2) {
    //   margin-bottom: 0;
    // }
  }

  @media screen and (min-width: $des) {
    min-width: 270px;

    &:not(:first-child) {
      //   margin-left: 30px;
    }
  }
}
.list--container {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.list__title--display {
  color: var(--text-color);
  margin-bottom: 10px;
}
.list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
