.workabout {
  @media screen and (max-width: $des-1) {
    display: none;
  }
}
.workabout--display {
  padding-bottom: 94px;
}
.workabout__list--container {
  display: flex;
  margin-top: 50px;
}
.workabout__title--color {
  color: var(--text-color);
}
.workabout__item--display {
  position: relative;

  &:not(:first-child) {
    margin-left: 30px;
  }
}
.workabout__bcbox--display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}
.workabout__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.workabout__text--display {
  color: #ffffff;
}
