.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: var(--index-backdrop);

  //   @media screen and (max-width: $tab) {
  //     top: 93px;
  //   }
  //   @media screen and (min-width: $tab) {
  //     top: 208px;
  //   }
  //   @media screen and (min-width: $des) {
  //     // top: 221px;
  //   }
}
