.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 450px;
    background-color: red;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
    background-color: teal;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
    background-color: green;
  }
}
.header-container {
  display: flex;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.main-portfolio-containers {
  background-color: var(--background-color-white);
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.workabout__list--container {
  display: flex;
  margin-top: 50px;
}
