.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  display: flex;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.main-portfolio-containers {
  background-color: var(--background-color-white);
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.workabout__list--container {
  display: flex;
  margin-top: 50px;
}
