.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  @media screen and (max-width: $tab) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $tab) {
    align-items: baseline;
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.footer-address,
.footer-email,
.footer-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-address-items {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-address-li {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  @media screen and (min-width: $des) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}
.footer-address {
  color: var(--background-color-white);
}
.footer-email,
.footer-tel {
  color: var(--footer-email-tel);
}
/* 
  !!! |=================================
  !!! | form
  !!! |=================================
  */
.footer-form-email {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (min-width: $des) {
    margin-left: 93px;
  }
}
.footer-form-label-button {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $des) {
    align-items: flex-end;
  }
}
.footer-form-label-input {
  display: flex;
  flex-direction: column;
}
.footer-form-label {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-form-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  @media screen and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $des) {
    width: 358px;
  }
}
.footer-form-submit-text {
  color: #ffffff;
  margin-right: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  letter-spacing: 0.06em;
}
.footer-form-icon {
  fill: #ffffff;
}
