/* 
!!! |=================================
!!! | footer
!!! |=================================
*/
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-address,
.footer-email,
.footer-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-address-li {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-address {
  color: var(--background-color-white);
}
.footer-email,
.footer-tel {
  color: var(--footer-email-tel);
}
/* 
  !!! |=================================
  !!! | footer form
  !!! |=================================
  */
.footer-form-email {
  margin-left: 93px;
}
.footer-form-label-button {
  display: flex;
  align-items: flex-end;
}
.footer-form-label-input {
  display: flex;
  flex-direction: column;
}
.footer-form-label {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-submit-text {
  color: #ffffff;
  margin-right: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  letter-spacing: 0.06em;
}
.footer-form-icon {
  fill: #ffffff;
}
