.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  flex-grow: 1;
}
.header-nav-menu {
  display: flex;
  @media screen and (max-width: $tab) {
    display: none;
  }
  @media screen and (min-width: $tab) {
    margin-left: 88px;
  }
  @media screen and (min-width: $des) {
    margin-left: 93px;
  }
}
.header-nav-menu-li {
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.header-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.header-porfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.header-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.header-nav-address-flex {
  display: flex;
  @media screen and (max-width: $tab) {
    display: none;
  }

  @media screen and (min-width: $tab) and (max-width: $des-1) {
    margin-left: 97px;
    flex-direction: column;
    align-items: start;
  }
  @media screen and (min-width: $des) {
    margin-left: 318px;
    align-items: center;
  }
}
.header-nav-address-li1 {
  @media screen and (min-width: $tab) and (max-width: $des-1) {
    padding-top: 21px;
    padding-bottom: 10px;
  }
}
.header-nav-address-li2 {
  @media screen and (min-width: $tab) and (max-width: $des-1) {
    padding-bottom: 21px;
  }
  @media screen and (min-width: $des) {
    margin-left: 24px;
  }
}
.header-email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: block;
  @media screen and (max-width: $des-1) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: $des) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header-email,
.header-tel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-header {
  fill: #757575;
}
.icon-mail,
.icon-tel {
  @media screen and (min-width: $tab) and (max-width: $des-1) {
    margin-right: 8px;
  }
  @media screen and (min-width: $des) {
    margin-right: 10px;
  }
}
.header-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: flex;

  @media screen and (max-width: $des-1) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: $des) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header-nav-address-li1:hover .icon-mail,
.header-nav-address-li1:focus .icon-mail,
.header-nav-address-li2:hover .icon-tel,
.header-nav-address-li2:focus .icon-tel {
  fill: currentColor;
}
.icon-mail,
.icon-tel {
  transition: var(--trans-fill);
}
