.before-modal-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  margin-bottom: 12px;
}
.form-group {
  margin-left: 40px;
  margin-right: 40px;
}
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.form-field-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form-label-input-name,
.form-label-input-phone,
.form-label-input-email,
.form-label-input-checkbox {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.form-label-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.form-label-input-name:not(:placeholder-shown) + .form-label-icon,
.form-label-input-phone:not(:placeholder-shown) + .form-label-icon,
.form-label-input-email:not(:placeholder-shown) + .form-label-icon {
  fill: var(--hover-focus);
  transition: var(--trans-fill);
}
.form-field:hover .form-label-icon,
.form-field:focus-within .form-label-icon {
  fill: var(--hover-focus);
  transition: var(--trans-fill);
}
.form-field:hover .input,
.form-field:hover .textarea {
  border: 1px solid var(--hover-focus);
}
.form-field:focus-within .input,
.form-field:focus-within .textarea {
  outline-color: var(--hover-focus);
  transition: var(--trans-outline-color);
}
.form-comment-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-comment-area {
  font-style: normal;
  font-weight: 400;
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
/* !!! checkbox */
.form-field-option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}
.form-field-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-field-checkbox {
  position: absolute;
  background-image: url(../images/icon-notchecked.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  top: 5px;
  left: 13px;
  background-size: contain;
}
.form-field-input:checked + .form-field-checkbox {
  background-image: url(../images/icon-checked.svg);
  background-color: var(--hover-focus);
  border-radius: 2px;
}
.form-field-input-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
}
.field-input-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.form-field-input-text > .field-input-link {
  text-decoration: underline;
}
