.modal {
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 300ms ease-in-out;

  @media screen and (min-width: $mob) {
  }
  @media screen and (max-width: $des-1) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: $des) {
    width: 528px;
    height: 581px;
  }
}
