.footer-connecting-container {
  @media screen and (max-width: $tab) {
    margin-top: 60px;
  }
  @media screen and (min-width: $tab) {
    margin-left: 165px;
  }
  @media screen and (min-width: $des) {
    margin-left: 70px;
  }
}
.footer-connecting-title {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;

  @media screen and (max-width: $des-1) {
    text-align: center;
  }
}
.footer-connecting-social-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.footer-connecting-icons-social-li {
  height: 44px;
  width: 44px;
}
.footer-connecting-icons-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--trans-bc);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.footer-svg {
  fill: #ffffff;
}
// team-social-links
.team-item-social-list--display {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 10px;
  }

  @media screen and (max-width: $des-1) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: $des) {
    margin-bottom: 30px;
  }
}
.team-item-social-list-icon__link--display {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: var(--trans-bc);
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.team-item-social-list-icon__link--display:hover .team__icons--display,
.team-item-social-list-icon__link--display:focus .team__icons--display {
  fill: #ffffff;
}
.team__icons--display {
  fill: #afb1b8;
}
