.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;

  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 33px;
  }

  @media screen and (min-width: $des) {
    font-size: 36px;
    line-height: 42px;
  }
}
