.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 150ms linear, visibility 150ms linear;
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-75%);
}
