:root {
  --text-color: #212121;
  --background-color-white: #ffffff;
  --hover-focus: #2196f3;
  --header-text-color: #212121;
  --header-logo-color1: #2196f3;
  --header-logo-color2: #000000;
  --main-section-background: #2f303a;
  --main-color: #757575;
  --footer-background-color: #2f303a;
  --footer-email-tel: rgba(255, 255, 255, 0.6);
  --team-background-color: #f5f4fa;
  --main-button-color: #188ce8;
  --trans-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-bc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-outline-color: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --index-backdrop: 1000;
}
